body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
  background-image: linear-gradient(315deg, #0e0d0d 0%, #0e0d0d 74%);
  color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  main {
    background-color:#f8f4f4;
    background-image: linear-gradient(315deg, #f8f3f4 0%, #eeeef3 74%);

    border-radius: 5px;
    color: black;
  }

  .quiz-container {
    list-style: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 3rem;
    background-color: white;
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  button#submit {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    background-color: rebeccapurple;
    color: white;
    font-size: 1rem;
    margin: 1rem 0 0 40%;
    box-shadow: 0 5px rgb(195, 141, 246);
  }
  button#submit:hover {
    background-color: blueviolet;
  }
  button#submit:active {
    background-color: blueviolet;
    box-shadow: 0 5px rgb(188, 155, 219);
    transform: translateY(4px);
  }

  #question {
    margin: 0 0 2rem 0;
  }
  h1 {
    text-align: center;
    z-index: -1;
  }