body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eec0c6;
  background-image: linear-gradient(315deg, #e0122e 0%, #f7f0f0 74%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }